/********** https://a-v2.sndcdn.com/assets/css/app-9fdf5731f53e5675930d.css **********/
.l-container {
	padding: 0 30px;
	width: 1180px;
	margin: 0 auto
}

.l-container:after, .l-container:before {
	content: "";
	display: table
}

.l-container:after {
	clear: both
}

.l-container.l-content {
	padding-top: 46px
}

.m-hideHeader .l-container.l-content {
	padding-top: 0
}

.l-container.l-fullwidth {
	width: 1240px;
	padding: 0
}

.l-inner-fullwidth {
	margin-left: -30px;
	margin-right: -30px
}

@media ( max-width :1239px) {
	.l-container {
		width: 1020px
	}
	.l-container.l-fullwidth {
		width: 1080px
	}
}

@media ( max-width :1079px) {
	.l-container {
		width: 920px;
		padding: 0 20px
	}
	.l-container.l-fullwidth {
		width: 960px
	}
	.l-inner-fullwidth {
		margin-left: -20px;
		margin-right: -20px
	}
}

@media screen and (max-width:959px) { @
	-ms-viewport {
		width: 768px
	}
}

/************ upsellBanner ***********/
.upsellBanner {
	display: none;
	position: relative;
	padding: 23px 30px
}

.upsellBanner.expanded {
	display: block
}

.upsellBanner__title {
	font-size: 18px;
	color: #fff;
	padding: 0 0 4px
}

.upsellBanner__copy {
	padding-bottom: 4px
}

.upsellBanner__close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	border: 0;
	padding: 0;
	display: block;
	background:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAABC0lEQVR4AV3KMWsUURQF4O/e6RVCIgFB2EyyxYI2g4ZAkBQGrayEgZVg438SO2EhaBlQjH9AUTIIgihYCEKqFcEFW5/rvkq/4t4D5wTV6Egf+y76Wd44NgNiBNtxEpNAKCjKaXnonFyVr3OSUgr15514b5PUxNPcSAGqEHIjHoeMaXaJe/ZVN92vg7ulz+gDLOw6wKHr5tTBUcZegFc+6zxwzUcvQYgurQHhuYV1373QqKxlzFVuu+CXdQcq/MjyDrjlqg8e+eKGPZUhPQEuGZwKJz4Zqcy0zc7ZuIzLVmmXt6at1d85a5toxZV8a9P/5r93fc3g2zIM/jX8LYltVfQx1bns3FCeOQb+ANlbSmVcuz2DAAAAAElFTkSuQmCC)
		50% no-repeat;
	cursor: pointer
}

@media ( max-width :1079px) {
	.upsellBanner {
		background-image: none
	}
}

/*********** fullHero **********/
.fullHero {
	position: relative;
	height: 380px;
	overflow: hidden;
	background: #e5e5e5
}

.fullHero__foreground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 560px 20px 30px;
	z-index: 10
}

.fullHero__artwork {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	width: 340px;
	height: 340px
}

.fullHero__info {
	position: absolute;
	top: 29px;
	width: 150px;
	right: 390px;
	text-align: right
}

.fullHero__uploadTime {
	color: #fff;
	margin-bottom: 16px
}

.fullHero__title .soundTitle__usernameHeroContainer {
	margin-right: 0
}

.fullHero__tracksSummary {
	display: none;
	position: absolute;
	bottom: 20px;
	left: 30px
}

.fullHero.m-showTracksSummary .fullHero__tracksSummary {
	display: block
}

.fullHero__playerArea {
	position: absolute;
	bottom: 0;
	left: 30px;
	right: 390px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	justify-content: flex-end
}

.fullHero__waveform {
	margin-bottom: 30px;
	height: 100px;
	z-index: 1
}

.fullHero__playerConsumerSubUpsell {
	background-color: rgba(51, 51, 51, .3);
	margin-right: -390px;
	padding-right: 390px;
	margin-left: -30px;
	padding-left: 30px
}

.fullHero__blocked {
	margin-bottom: 20px;
	height: 60px
}

.fullHero.m-showTracksSummary .fullHero__blocked, .fullHero.m-showTracksSummary .fullHero__waveform
	{
	visibility: hidden
}

.fullHero__parentLink {
	max-width: 230px;
	margin-top: 4px;
	margin-left: 70px
}

@media ( max-width :1079px) {
	.fullHero__foreground {
		padding-left: 20px;
		padding-right: 550px
	}
	.fullHero__playerArea {
		left: 20px;
		right: 380px
	}
	.fullHero__info {
		right: 380px
	}
}

.fullHero__tierIndicator {
	top: 10px;
	right: 10px
}

.fullHero__tierIndicator-plus {
	top: 12px;
	right: 12px
}

/******* backgroundGradient ***********/
.backgroundGradient {
	position: relative;
	height: 100%;
	z-index: 0
}

.backgroundGradient__buffer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 1;
	transition: opacity .3s
}

.backgroundGradient__hidden {
	opacity: 0;
	z-index: 1;
	transition-delay: .3s
}

.backgroundGradient__imageOverlay {
	display: none
}

.backgroundGradient.m-imageOverlay .backgroundGradient__imageOverlay {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 3;
	position: absolute;
	opacity: .8;
	background-size: cover;
	background-position: 50%;
	-webkit-filter: blur(40px);
	filter: blur(40px);
	-webkit-transform: scale(1.15);
	transform: scale(1.15)
}

.listenArtworkWrapper, .listenArtworkWrapper__artwork {
	width: 100%;
	height: 100%
}

/********** image **********/
.image, .image__full {
	text-align: center;
	position: relative;
	background-repeat: no-repeat
}

.image__lightOutline .image__full {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1)
}

.image__whiteOutline .image__full {
	border: 2px solid #fff;
	box-sizing: border-box;
	background-origin: border-box
}

.image.dragover {
	box-shadow: 0 0 15px #06c
}

.image.interactive {
	cursor: pointer
}

.image__rounded {
	border-radius: 50%
}

.image:focus {
	outline: 0
}

.image:focus .image__full {
	border: 1px dotted #999;
	box-sizing: border-box;
	background-origin: border-box
}

.image__rounded.m-loaded.sc-artwork {
	background: none
}

.image__button {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20%
}

.image.readOnly .image__button {
	display: none
}

.image.customImage .image__button {
	overflow: hidden;
	opacity: 0;
	transition: opacity .1s linear
}

.image.alwaysShowEditButton .image__button, .image.customImage .image__button:focus,
	.image.customImage:hover .image__button {
	opacity: 1
}

.image__placeholder {
	position: absolute
}

.image .sc-artwork.sc-artwork-placeholder-blank {
	box-sizing: border-box;
	background-origin: border-box
}

.image:not (.m-loaded ) .sc-artwork.sc-artwork-placeholder-blank {
	border: 1px dashed #ccc;
	box-shadow: none
}

.image.m-station:before {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 60%;
	height: 60%;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/station-overlay-3eaed411.svg);
	background-size: cover;
	z-index: 3;
	margin: auto
}

.image.m-station.m-smallOverlay:before {
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/station-overlay-small-a969a059.svg)
}

/******** soundTitle *********/
.soundTitle__info {
	display: inline-block;
	vertical-align: baseline;
	white-space: nowrap
}

.soundTitle__titleContainer {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	align-items: flex-start
}

.soundTitle__usernameTitleContainer {
	-webkit-flex: 1;
	flex: 1;
	min-width: 0
}

.soundTitle__title {
	max-width: 100%;
	font-weight: 100;
	box-sizing: border-box
}

.soundTitle__title .sc-truncate {
	display: block
}

.soundTitle.m-hiddenSound .soundTitle__title {
	color: #999;
	cursor: default
}

.soundTitle.streamContext .soundTitle__title {
	font-size: 15px;
	line-height: 1.2
}

.soundTitle__additionalContainer {
	-webkit-align-self: flex-start;
	align-self: flex-start;
	margin-left: 5px;
	text-align: right
}

.soundTitle__uploadTime {
	color: #ccc;
	font-size: 12px;
	font-weight: 100;
	line-height: 16px
}

.soundTitle__tagContainer {
	line-height: 12px;
	margin-top: 2px
}

.soundTitle__tag {
	vertical-align: middle
}

.soundTitle__tagContent {
	max-width: 120px
}

.soundTitle__playButton {
	margin-right: 5px
}

.soundTitle__playButtonHero {
	height: 60px;
	width: 60px;
	margin-right: 10px;
	-webkit-align-self: flex-start;
	align-self: flex-start
}

.soundTitle__usernameHeroContainer {
	margin-bottom: 7px
}

.soundTitle.streamContext .soundTitle__secondary {
	font-size: 12px;
	line-height: 16px
}

.soundTitle.listenContext .soundTitle__title, .soundTitle.listenContext .soundTitle__title.g-type-shrinkwrap-inline:hover
	{
	font-weight: 100
}

.soundTitle.streamContext .soundTitle__secondary .sc-promoted-icon-small
	{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-position-y: center
}

.soundTitle.listenContext .soundTitle__playButton {
	height: 60px
}

.soundTitle.listenContext .soundTitle__tagContainer {
	display: none
}

.soundTitle.listenContext .sc-media-content {
	overflow: visible;
	margin-left: 70px
}

.soundTitle.m-visualSound.streamContext .soundTitle__playButton {
	margin-left: 4px
}

.sound.streamContext .soundTitle.m-visualSound .soundTitle__info {
	margin-left: -4px;
	padding-left: 1px
}

.sound .soundTitle.m-visualSound .soundTitle__info .actorUser__username:before
	{
	background-position: 0;
	width: 18px;
	margin-left: -2px
}

.sound:not (.focused ) .soundTitle.m-visualSound.m-playing .soundTitle__info,
	.sound:not (.focused ) .soundTitle.m-visualSound.m-playing .soundTitle__playButton
	{
	opacity: 0
}

.soundTitle.m-visualSound.streamContext .soundTitle__uploadTime {
	margin-top: 3px
}

.soundTitle.m-visualSound.streamContext .soundTitle__username {
	padding-top: 2px;
	box-sizing: border-box
}

.sound:not (.focused ) .soundTitle.m-visualSound.m-playing .soundTitle__title,
	.sound:not (.focused ) .soundTitle.m-visualSound.m-playing .soundTitle__username
	{
	opacity: 0
}

.soundTitle.m-visualSound.streamContext .soundTitle__title {
	margin-top: 2px
}

.soundTitle.m-visualSound.streamContext .soundTitle__tagContainer {
	margin-top: 5px
}

.soundTitle.m-visualSound.listenContext .soundTitle__uploadTime {
	font-size: 16px;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif
}

@media ( max-width :1079px) {
	.soundTitle__tag, .soundTitle__tagContainer>.sc-snippet-badge-medium {
		display: none
	}
}

@media ( min-width :1080px) {
	.soundTitle__tagContainer>.sc-snippet-badge-small {
		display: none
	}
}

/******** playButton ********/
.playButton.m-stretch {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-indent: -100000em;
	border-color: #f50;
	background-color: #f50
}

.playButton.m-stretch:active, .playButton.m-stretch:focus, .playButton.m-stretch:hover
	{
	background-color: #f30;
	border-color: #f30
}

.playButton.sc-button-disabled, .playButton:disabled {
	pointer-events: none;
	opacity: .4
}

.playButton.m-stretch:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMjlweCIgdmlld0JveD0iMCAwIDE4IDI5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4yLjIgKDk5ODMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBsYXkgNjA8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iYnV0dG9ucyIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE2NjUuMDAwMDAwLCAtODE4LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPgogICAgICAgICAgICA8cGF0aCBkPSJNMTY2NSw4NDcgTDE2NjkuMTUzODUsODMyLjUgTDE2NjUsODE4IEwxNjgzLDgzMi41IEwxNjY1LDg0NyBaIiBpZD0iUGxheS02MCIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
	background-size: 40% 60%;
	background-position: 60%;
	background-repeat: no-repeat;
	transition: opacity .3s;
	opacity: 1
}

.playButton.m-stretch.sc-button-pause:before {
	background-image:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIGhlaWdodD0iMjdweCIgdmlld0JveD0iMCAwIDE4IDI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4yLjIgKDk5ODMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPgogICAgPHRpdGxlPlBhdXNlIDYwPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9ImJ1dHRvbnMiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNzQxLjAwMDAwMCwgLTgxOC4wMDAwMDApIiBmaWxsPSIjRkZGRkZGIj4KICAgICAgICAgICAgPHBhdGggZD0iTTE3NTIsODE4IEwxNzUyLDg0NSBMMTc1OSw4NDUgTDE3NTksODE4IEwxNzUyLDgxOCBaIE0xNzQxLDgxOCBMMTc0MSw4NDUgTDE3NDgsODQ1IEwxNzQ4LDgxOCBMMTc0MSw4MTggWiIgaWQ9IlBhdXNlLTYwIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=);
	background-size: 42% 56%;
	background-position: 50% 51%
}

.playButton.m-stretch:after {
	position: absolute;
	z-index: 0;
	background: transparent;
	width: 100%;
	height: 100%;
	content: "";
	left: 0;
	top: 0
}

.playButton.m-stretch:active:after {
	background: rgba(0, 0, 0, .04);
	border-radius: 50%
}

.playButton.m-stretch.sc-button-buffering:before, .playButton.m-stretch.sc-button-pause.sc-button-buffering:before
	{
	opacity: 0
}

.playButton.m-stretch.sc-button-buffering:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 1;
	background-repeat: no-repeat;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/buffering-d977ce5c.gif);
	background-position: 50%;
	background-size: 85% 85%
}

@media ( -webkit-min-device-pixel-ratio :2) , ( min-resolution :2dppx) , (
		min-resolution :192dpi) {
	.playButton.m-stretch.sc-button-buffering:after {
		background-image:
			url(https://a-v2.sndcdn.com/assets/images/buffering@2x-44e63555.gif)
	}
}

</
style>
	/* https://a-v2.sndcdn.com/assets/css/app-9fdf5731f53e5675930d.css */
	body {
	font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
		Verdana, Tahoma, sans-serif;
	color: #333
}

.sc-type-h1, .sc-type-h2, .sc-type-h3, .sc-type-h4, .sc-type-h5,
	.sc-type-h6, h1, h2, h3, h4, h5, h6 {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-weight: 400;
	margin: 18px 0 0;
	line-height: 1.3
}

.sc-type-h1:first-child, .sc-type-h2:first-child, .sc-type-h3:first-child,
	.sc-type-h4:first-child, .sc-type-h5:first-child, .sc-type-h6:first-child,
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child,
	h6:first-child {
	margin-top: 0
}

.sc-type-h1, h1 {
	font-size: 32px
}

.sc-type-h2, h2 {
	font-size: 16px
}

.sc-type-h3, h3 {
	font-size: 14px
}

.sc-type-h4, h4 {
	margin-top: 0
}

p {
	margin: 0 0 10px
}

hr {
	background: #ccc;
	position: relative;
	height: 1px;
	margin: 18px 0 17px;
	border: none;
	width: 100%
}

b, strong {
	font-weight: 400
}

code, pre {
	font-family: Monaco, Courier New, monospace, serif;
	font-size: 1em
}

.sc-type-small {
	font-size: 14px
}

.sc-type-medium, .sc-type-small {
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-weight: 100
}

.sc-type-medium {
	font-size: 16px
}

.sc-type-large {
	font-size: 18px;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-weight: 100
}

.sc-type-light {
	font-weight: 100;
	color: #999
}

.sc-type-h1>.sc-type-light, h1>.sc-type-light {
	font-size: 16px
}

.sc-type-h2>.sc-type-light, h2>.sc-type-light {
	font-size: 14px
}

.sc-type-h3>.sc-type-light, h3>.sc-type-light {
	font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
		Verdana, Tahoma, sans-serif
}

.sc-artwork {
	background-size: cover;
	background-position: 50% 50%;
	display: inline-block
}

.sc-artwork.sc-artwork-placeholder-0 {
	background-image: linear-gradient(135deg, #846170, #70929c)
}

.sc-artwork.sc-artwork-placeholder-1 {
	background-image: linear-gradient(135deg, #846170, #e6846e)
}

.sc-artwork.sc-artwork-placeholder-2 {
	background-image: linear-gradient(135deg, #846170, #8e8485)
}

.sc-artwork.sc-artwork-placeholder-3 {
	background-image: linear-gradient(135deg, #70929c, #846170)
}

.sc-artwork.sc-artwork-placeholder-4 {
	background-image: linear-gradient(135deg, #70929c, #e6846e)
}

.sc-artwork.sc-artwork-placeholder-5 {
	background-image: linear-gradient(135deg, #70929c, #8e8485)
}

.sc-artwork.sc-artwork-placeholder-6 {
	background-image: linear-gradient(135deg, #e6846e, #846170)
}

.sc-artwork.sc-artwork-placeholder-7 {
	background-image: linear-gradient(135deg, #e6846e, #70929c)
}

.sc-artwork.sc-artwork-placeholder-8 {
	background-image: linear-gradient(135deg, #e6846e, #8e8485)
}

.sc-artwork.sc-artwork-placeholder-9 {
	background-image: linear-gradient(135deg, #8e8485, #846170)
}

.sc-artwork.sc-artwork-placeholder-10 {
	background-image: linear-gradient(135deg, #8e8485, #70929c)
}

.sc-artwork.sc-artwork-placeholder-11 {
	background-image: linear-gradient(135deg, #8e8485, #e6846e)
}

body {
	overflow-y: scroll;
	background: #f2f2f2
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABNgAAABkAQMAAABuPx8iAAAAA1BMVEX///+nxBvIAAAAJUlEQVR4Xu3AMQEAAADCIPunNsYeWAQAAAAAAAAAAAAAAAAAAOA88AABMGQBNwAAAABJRU5ErkJggg==)
		repeat-y 50% 0;
	padding-bottom: 75px
}

.sc-artwork, img, svg {
	display: block
}

@media ( max-width :1239px) {
	body {
		background-size: 1080px 100px
	}
}

@media ( max-width :1079px) {
	body {
		background-size: 960px 100px
	}
}

@media ( max-width :959px) {
	body {
		background: #fff
	}
}

.g-go-marker-artwork {
	position: absolute;
	z-index: 1
}

.g-go-marker-artwork-large {
	width: 40px;
	height: 40px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-artwork-large-13854839.svg)
}

.g-go-marker-artwork-small {
	width: 20px;
	height: 20px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-artwork-small-63c95150.svg)
}

.g-go-plus-marker-artwork-large {
	width: 35px;
	height: 30px;
	background-size: 35px 30px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-plus-tag-b588e8e6.svg)
}

.g-go-plus-marker-artwork-small {
	width: 23px;
	height: 20px;
	background-size: 23px 20px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-plus-tag-b588e8e6.svg)
}

.g-go-marker-list {
	display: inline-block;
	width: 20px;
	height: 15px;
	background-size: 20px 15px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-artwork-compact-f47a70ec.svg)
}

.g-go-plus-marker-list {
	display: inline-block;
	width: 23px;
	height: 15px;
	background-size: 23px 15px;
	background-image:
		url(https://a-v2.sndcdn.com/assets/images/go-plus-artwork-compact-b8b53d0f.svg)
}

.sc-ir {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent
}

.sc-hidden {
	display: none !important;
	visibility: hidden
}

.sc-visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.sc-visuallyhidden.sc-focusable:active, .sc-visuallyhidden.sc-focusable:focus
	{
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.sc-invisible {
	visibility: hidden
}